
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="card">
    <h1 class="page-header text-center">Autentificacion en el sistema</h1>

    <div class="card w-auto">

        <div class="card-header">Login de Acceso</div>
        <div class="card-body">
            @using (Html.BeginForm("Acceder", "Login", FormMethod.Post))
            {
                <div class="form-group">
                    <label>Usuario:</label>
                    <input type="text" name="usuario" class="form-control" placeholder="Ingrese su usuario" />

                </div>

                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" name="password" class="form-control" placeholder="Ingrese su password" />

                </div>
                <div class="text-right">
                    <button data-ajax="true" type="submit" class="btn btn-success">
                        Acceder
                    </button>
                </div>

            }
        </div>
    </div>

</div>

